Flask
Flask-Cors
Flask-RESTful
requests
numpy
pandas
scikit-learn
opencv-python
Pillow
matplotlib
torch
torchvision
torchaudio
faiss-cpu
scipy
fastapi
uvicorn
google-cloud-aiplatform
google-auth
joblib
werkzeug
mediapipe
